@* @{
    ViewData["Title"] = "Home";
}

<div class="vh-100 d-flex justify-content-center align-items-center"
     style="background-image:url('https://images.unsplash.com/photo-1762627318644-311c23762d1a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size:inherit; background-position:center;">

    
    <div class="p-5 rounded-4 text-white"
         style="background:linear-gradient(to bottom right, #111, #333); width:80%; max-width:900px;">

        <h3 class="text-center mb-4">Welcome</h3>

        
        <table class="table table-borderless text-white" style="background-color: transparent;">
            <tbody>
                <tr class="border-bottom border-white">
                    <td class="border-end border-white">Value 1</td>
                    <td class="text-white">Value 2</td>
                </tr>
                <tr class="border-bottom border-white">
                    <td class="border-end border-white">Value 3</td>
                    <td class="text-white">Value 4</td>
                </tr>
                <tr>
                    <td class="border-end border-white">Value 5</td>
                    <td class="text-white">Value 6</td>
                </tr>
            </tbody>
        </table>

    </div>
</div> *@

@{
    ViewData["Title"] = "Home";
}

<style>
    
    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url('https://images.unsplash.com/photo-1762627318644-311c23762d1a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
        background-size: cover;
        position: relative;
    }
        

    
</style>

<div class="d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="center-panel col-md-6 shadow-lg">

        <h2 class="text-center mb-4 text-dark">Welcome</h2>

        <table class="custom-table table text-white">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lecturer</td>
                    <td>lecturer@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Academic Manager</td>
                    <td>manager@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Project Coordinator</td>
                    <td>coordinator@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Human Rescources</td>
                    <td>hr@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>