@{
    ViewData["Title"] = "Home";
}

<style>
    
    body {
        overflow: hidden;
        background: url('https://images.unsplash.com/photo-1762627318644-311c23762d1a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
        background-size: cover; 
    }
        

    
</style>

<div class="d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="center-panel col-md-6 shadow-lg">

        <h2 class="text-center mb-4 text-dark">Welcome</h2>

        <table class="custom-table table text-white">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lecturer</td>
                    <td>lecturer@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Lecturer</td>
                    <td>kyle@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Programme Coordinator</td>
                    <td>coordinator@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Academic Manager</td>
                    <td>manager@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>
                <tr>
                    <td>Human Rescources</td>
                    <td>hr@email.com</td>
                    <td>@@1passForLogin</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>